<div class="d-flex h-100">
    {{>appheader}}
    <div class="w-100 ps-0">
        <div class="app-content px-5 pt-4">
            <h1>Edit Opp</h1>
            <hr>
            <h4>Editing: {{title}}</h4>
            <br />
            <div id="form">
              <form action="/app/opps/edit/{{_id}}" method="POST">
            
                <label> Title 
                  <input type="text" name="title" placeholder="Opportunity Title" value="{{title}}" />
                  *
                </label>
                <br />
                <label> Opened Date:
                  <input type="date" name="openedDate" placeholder="" value="{{openedDateString}}" />
                  *
                </label>
                <br />
                <label> Close Date:
                  <input type="date" name="closeDate" placeholder="" value="{{closeDateString}}" />
                  *
                </label>
                <br />
                <label> Dollar Value:
                  <input type="text" name="dollarValue" placeholder="0" value="{{dollarValue}}"/>
                  *
                </label>
                <br />
                <label> Current Stage:
                  <select type="text" name="currentStage">
                      {{#select currentStage}}
                      <option value="New">New</option>
                      <option value="Discovery">Discovery</option>
                      <option value="Proposal">Proposal</option>
                      <option value="Negotiation">Negotiation</option>
                      <option value="Closed - Won">Closed - Won</option>
                      <option value="Closed - Lost">Closed - Lost</option>
                      {{/select}}
                  </select>
                  *
                </label>
                <br />
                
                <button type="submit">Update Opportunity</button>
              </form>
          </div>
        </div>
    </div>
</div>