<div class="d-flex h-100">
    {{>appheader}}
    <div class="w-100 ps-0">
        <div class="app-content px-5 pt-4">
            <div class="d-flex justify-content-between align-items-center">
                <h2>Opportunities</h2>
                <a href="/app/createopp">
                    <button class="new-btn">+ New Opportunity</button>
                </a>
            </div>
            
            <hr>
            <div class="py-2">
                <p>Potential Revenue: {{potentialRev}}</p> 
                <p>Number of Opportunities: {{numberOfOpps}}</p>
            </div>
            <hr>
            <h5>All Opportunities</h5>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead class="">
                        <tr>
                            <th scope="col">Opportunity</th>
                            <th scope="col">Stage</th>
                            <th scope="col">Value</th>
                            <th scope="col">Customer</th>
                            <th scope="col">Date Opened</th>
                            <th scope="col">Expected Close Date</th>
                            <th scope="col">View</th>
                            <th scope="col">Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each opps}}
                            <tr>
                                <td>{{title}}</td>
                                <td>{{currentStage}}</td>
                                <td>{{dollarValue}}</td>
                                <td>{{customerName}}</td>
                                <td>{{openedDateString}}</td>
                                <td>{{closeDateString}}</td>
                                <td><a href="/app/opps/{{_id}}">View</a> </td>
                                <td><a href="/app/opps/edit/{{_id}}">Edit</a></td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>