<div class="d-flex h-100">
    {{>appheader}}
    <div class="w-100 ps-0">
        <div class="app-content px-5 pt-4">
            <div class="d-flex justify-content-between align-items-center">
                <h2>Projects</h2>
                <a href="/app/createProject">
                    <button class="new-btn">+ New Project</button>
                </a>
            </div>
            <hr>
            <h5>All Projects</h5>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead class="">
                        <tr>
                            <th scope="col">Project</th>
                            <th scope="col">Stage</th>
                            <th scope="col">Customer</th>
                            <th scope="col">Start Date</th>
                            <th scope="col">Goal Date</th>
                            <th scope="col">Edit</th>
                            <th scope="col">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each projects}}
                            <tr>
                                <td>{{title}}</td>
                                <td>{{currentStage}}</td>
                                <td>{{contactFullName}}</td>
                                <td>{{startDate}}</td>
                                <td>{{goalDate}}</td>
                                <td><a href="/app/projects/edit/{{_id}}">Edit</a></td>
                                <td><a href="">Delete</a></td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>