<div class="d-flex h-100">
    {{>appheader}}
    <div class="w-100 ps-0">
        <div class="app-content px-5 pt-4 overflow-auto h-100 w-100">
            <div class="d-flex container-lg justify-content-between px-0">
                <h2>{{title}}</h2>
                <button class="convert-btn">Convert to Project</button>
            </div>
            <span class="me-3"><a class="fs-6" href="/app/opps/edit/{{_id}}">Edit Opportunity</a></span>
            <hr>
            <div class="container-lg px-0">
                <div class="row">
                    <div class="col d-flow flex-column">
                        <p class="mb-1 fs-7">Customer</p>
                        <p class="fs-5">{{forCustomer.name}}</p>
                    </div>
                    <div class="col d-flow flex-column">
                        <p class="mb-1 fs-7">Value</p>
                        <p class="fs-5">{{dollarValue}}</p>
                    </div>
                    <div class="col d-flow flex-column">
                        <p class="mb-1 fs-7">Current Stage</p>
                        <p class="fs-5">{{currentStage}}</p>
                    </div>
                    <div class="col d-flow flex-column">
                        <p class="mb-1 fs-7">Opened Date</p>
                        <p class="fs-5">03/25/2020</p>{{!-- TODO: Change to actual values --}}
                    </div>
                    <div class="col d-flow flex-column">
                        <p class="mb-1 fs-7">Close Date</p>
                        <p class="fs-5">03/25/2020</p>{{!-- TODO: Change to actual values --}}
                    </div>
                </div>
                <div class="row">
                    <div class="col d-flow flex-column">
                        <p class="mb-1 fs-7">Contact Full Name</p>
                        <p class="fs-5">{{forCustomer.contactInfo.firstName}} {{forCustomer.contactInfo.lastName}}</p>
                    </div>
                    <div class="col d-flow flex-column">
                        <p class="mb-1 fs-7">Contact Email Address</p>
                        <p class="fs-5">{{forCustomer.contactInfo.emailAddress}}</p>
                    </div>
                    <div class="col d-flow flex-column">
                        <p class="mb-1 fs-7">Contact Phone Number</p>
                        <p class="fs-5">{{forCustomer.contactInfo.phoneNumber}}</p>
                    </div>
                </div>
            </div>
            <hr>
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete-opp-modal">
                Delete Opportunity
            </button>
            <div class="modal fade" id="delete-opp-modal" tabindex="-1" aria-labelledby="delete-opp-modal-label" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="delete-opp-modal-label">Delete {{title}}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to delete {{title}} and all of it's data?</p>
                        <p>You cannot undo this action.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <form action="/app/opps/delete/{{_id}}" method="POST">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
