<div class="d-flex h-100">
    {{>appheader}}
    <div class="w-100 ps-0">
        <div class="app-content px-5 pt-4 overflow-auto h-100 w-100">
            {{#with customer}}
            <h2>{{name}}</h2>
            <span class="me-3"><a class="fs-6" href="/app/customers/edit/{{_id}}">Edit Customer</a></span>
            <hr>
            <div class="container-lg px-0">
                <div class="row">
                    <div class="col d-flow flex-column">
                        <p class="mb-1 fs-7">Potential Business</p>
            {{/with}}
                        <p class="fs-5">{{potentialRevString}}</p>
            {{#with customer}}
                    </div>
                    <div class="col d-flow flex-column">
                        <p class="mb-1 fs-7">Project Revenue</p>
            {{/with}}
                        <p class="fs-5">{{projectRevString}}</p>
            {{#with customer}}
                    </div>
                    <div class="col d-flow flex-column">
                        <p class="mb-1 fs-7">Customer Since</p>
                        <p class="fs-5">03/25/2020</p> {{!-- TODO: Change to actual date --}}
                    </div>
                </div>
                <div class="row">
                    <div class="col d-flow flex-column">
                        <p class="mb-1 fs-7">Contact Full Name</p>
                        <p class="fs-5">{{contactInfo.firstName}} {{contactInfo.lastName}}</p>
                    </div>
                    <div class="col d-flow flex-column">
                        <p class="mb-1 fs-7">Contact Email Address</p>
                        <p class="fs-5">{{contactInfo.emailAddress}}</p>
                    </div>
                    <div class="col d-flow flex-column">
                        <p class="mb-1 fs-7">Contact Phone Number</p>
                        <p class="fs-5">{{contactInfo.phoneNumber}}</p>
                    </div>
                </div>
            {{/with}}
                <hr>
                <br />
                <h4>Opportunities</h4>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead class="">
                            <tr>
                                <th scope="col">Opportunity</th>
                                <th scope="col">Stage</th>
                                <th scope="col">Value</th>
                                <th scope="col">Date Opened</th>
                                <th scope="col">Expected Close Date</th>
                                <th scope="col">View</th>
                                <th scope="col">Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each opps}}
                                <tr>
                                    <td>{{title}}</td>
                                    <td>{{currentStage}}</td>
                                    <td>{{dollarValue}}</td>
                                    <td>{{openedDateString}}</td>
                                    <td>{{closeDateString}}</td>
                                    <td><a href="/app/opps/{{_id}}">View</a> </td>
                                    <td><a href="/app/opps/edit/{{_id}}">Edit</a></td>
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
                <br />
                <br />
                <h4>Projects</h4>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Project</th>
                                <th scope="col">Stage</th>
                                <th scope="col">Value</th>
                                <th scope="col">Start Date</th>
                                <th scope="col">Goal Date</th>
                                <th scope="col">View</th>
                                <th scope="col">Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each projects}}
                                <tr>
                                    <td>{{title}}</td>
                                    <td>{{currentStage}}</td>
                                    <td>{{dollarValue}}</td>
                                    <td>{{startDateString}}</td>
                                    <td>{{goalDateString}}</td>
                                    <td><a href="/app/projects/{{_id}}">View</a></td>
                                    <td><a href="/app/projects/edit/{{_id}}">Edit</a></td>
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
            <hr>
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete-customer-modal">
                Delete Customer
            </button>
            <br/>
            <br/>
            <div class="modal fade" id="delete-customer-modal" tabindex="-1" aria-labelledby="delete-customer-modal-label" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="delete-customer-modal-label">Delete {{customer.name}}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to delete {{customer.name}} and all of it's data?</p>
                        <p>You cannot undo this action.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <form action="/app/customers/delete/{{customer._id}}" method="POST">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
