<div class="d-flex h-100">
    {{>appheader}}
    <div class="w-100 ps-0">
        <div class="app-content px-5 pt-4 overflow-auto h-100 w-100">
            <div class="d-flex container-lg justify-content-between px-0">
                <h2>{{title}}</h2>
                <div>
                    <button type="button" class="convert-btn" data-bs-toggle="modal" data-bs-target="#convert-opp-modal">
                        Convert to Project
                    </button>
                    <div class="modal fade" id="convert-opp-modal" tabindex="-1" aria-labelledby="convert-opp-modal-label" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="convert-opp-modal-label">Convert {{title}}</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p>Are you sure you to convert {{title}}?</p>
                                    <p>You cannot undo this action.</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <form action="/app/convert/{{_id}}" method="POST">
                                        <button type="submit" class="btn convert-btn">Convert</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <span class="me-3"><a class="fs-6" href="/app/opps/edit/{{_id}}">Edit Opportunity</a></span>
            <hr>
            <div class="container-lg px-0">
                <div class="row">
                    <div class="col d-flow flex-column">
                        <p class="mb-1 fs-7">Customer</p>
                        <p class="fs-5">{{forCustomer.name}}</p>
                    </div>
                    <div class="col d-flow flex-column">
                        <p class="mb-1 fs-7">Value</p>
                        <p class="fs-5">{{dollarValue}}</p>
                    </div>
                    <div class="col d-flow flex-column">
                        <p class="mb-1 fs-7">Current Stage</p>
                        <p class="fs-5">{{currentStage}}</p>
                    </div>
                    <div class="col d-flow flex-column">
                        <p class="mb-1 fs-7">Opened Date</p>
                        <p class="fs-5">{{openedDateString}}</p>{{!-- TODO: Change to actual values --}}
                    </div>
                    <div class="col d-flow flex-column">
                        <p class="mb-1 fs-7">Close Date</p>
                        <p class="fs-5">{{closeDateString}}</p>{{!-- TODO: Change to actual values --}}
                    </div>
                </div>
                <div class="row">
                    <div class="col d-flow flex-column">
                        <p class="mb-1 fs-7">Contact Full Name</p>
                        <p class="fs-5">{{forCustomer.contactInfo.firstName}} {{forCustomer.contactInfo.lastName}}</p>
                    </div>
                    <div class="col d-flow flex-column">
                        <p class="mb-1 fs-7">Contact Email Address</p>
                        <p class="fs-5">{{forCustomer.contactInfo.emailAddress}}</p>
                    </div>
                    <div class="col d-flow flex-column">
                        <p class="mb-1 fs-7">Contact Phone Number</p>
                        <p class="fs-5">{{forCustomer.contactInfo.phoneNumber}}</p>
                    </div>
                </div>
            </div>
            <br>
            <hr>
            <div class="d-flex  justify-content-start align-items-center">
                <h4 class="me-3 mb-0">Documents</h4>
                <button type="button" class="btn convert-btn" data-bs-toggle="modal" data-bs-target="#upload-modal">
                    Upload New Document
                </button>
            </div>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead class="">
                        <tr>
                            <th scope="col">Document</th>
                            <th scope="col">Type</th>
                            <th scope="col">View</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each documents}}
                        <tr>
                            <td>{{name}}</td>
                            <td>{{fileType}}</td>
                            <td><a href="{{docUrl}}">View</a></td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
            <hr>
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete-opp-modal">
                Delete Opportunity
            </button>
            <div class="modal fade" id="delete-opp-modal" tabindex="-1" aria-labelledby="delete-opp-modal-label" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="delete-opp-modal-label">Delete {{title}}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>Are you sure you want to delete {{title}} and all of it's data?</p>
                            <p>You cannot undo this action.</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <form action="/app/opps/delete/{{_id}}" method="POST">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {{!-- Upload Doc Modal --}}
            <div class="modal fade" id="upload-modal" tabindex="-1" aria-labelledby="upload-modal-label" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form action="/app/opps/uploadfile/{{_id}}" method="POST" enctype="multipart/form-data">
                            <div class="modal-header">
                                <h5 class="modal-title" id="upload-modal-label">Upload New Document</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="row mb-2 me-1">
                                    <div class="col-5">
                                        <label for="name">Document Name: *</label>
                                    </div>
                                    <div class="col">
                                        <input class="w-100" type="text" name="fileName" placeholder="Contract" />
                                    </div>
                                </div>
                                <div class="row mb-2 me-1">
                                    <div class="col-5">
                                        <label for="name">File Upload: *</label>
                                    </div>
                                    <div class="col">
                                        <input class="w-100" type="file" name="document-file" />
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn convert-btn text-white">Upload</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
